$landing_image: url(../images/showcase_landing.jpg);
$main_dark_color: #1A3A47;
$secondary_color: #CD6161;
$white_color: #ffffff;
$black_color: #333333;
$html_hover_color:#FF6602;
$css_hover_color: #0094EE;
$sass_hover_color: #F388ED;
$github_hover_color: #666666;
$js_hover_color: #FFF300;
$device_width: 1200px;
$contact_width: 900px;
$footer_width: 1600px;
$work_1: url(../images/image_work_1.jpg) no-repeat center center / cover;
$work_2: url(../images/image_work_2.jpg) no-repeat center center / cover;
$work_3: url(../images/image_work_3.jpg) no-repeat center center / cover;